@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-display: "Playfair Display", serif;

  --color-brand-bg: #f7f4f2;
  --color-brand-surface: #fffef9;
  --color-brand-text: #3e3a39;
  --color-brand-accent: #e94f64;
  --color-brand-accent-hover: #b04a5a;
}

html,
body {
  @apply bg-brand-bg text-brand-text font-sans;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
