@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-display: "Playfair Display", serif;

  /* Sidbakgrund */
  --color-brand-bg: #faf5ff;          

  /* Ytor/kort/sektionsboxar */
  --color-brand-surface: #ffffff;      
  --color-brand-surface-light: #FAF9F6; /*färgen bakom bilderna*/

  /* Text */
  --color-brand-text: #1e293b;        
  --color-brand-text-muted: #6b7280;   

  /* Accent/knappar */
  --color-brand-accent: #7c3aed;       /* primär (knappar, länkar) */
  --color-brand-accent-hover: #5b21b6; /* hover på primär */

  /*Footer*/
  --color-brand-footer: #F5F6F7 ;

  /* Används inte just nu */
  --color-brand-accent-soft: #c4b5fd;  /* soft variant, pill-bgs, borders */
  --color-brand-surface-alt: #f3e8ff;  
  --color-brand-success: #86efac;      /* t.ex. små highlights */
}

html,
body {
  @apply bg-brand-bg text-brand-text font-sans antialiased;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1, h2, h3 {
  font-family: var(--font-display);
}

html {
  scroll-behavior: smooth;
}
